@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(90, 90, 90);
    text-align: center;
    color: white;
}
header > h1 {
    padding-top: 20px;
    
    color: rgb(249, 130, 32);
    
}
header > p {
    padding: 10px;
}
nav {
    background-color: aqua;
    min-height: 18px;
    text-align: center;
    padding: 7px;
}
.nav>a {
    background-color: burlywood;
    padding: 0px 20px;
}
main{
    min-width: 280px;
    max-width: 800px;
    background-color: rgb(247, 230, 209);
    margin: auto;
    margin-bottom: 0px;
}
main > h2 {
    padding: 10px 10px 10px 25px;
}
main > p {
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
}
main > p > a{
    text-decoration: none;
    font-weight: bold;
    color: darkblue;
    
}
.img1{
    padding: 10px;
    text-align: center;
}

div.video{
    
    /*background-color: aqua;*/ /*azul só para identificar o espaço que ocupa*/
    margin-bottom: 30px;
    margin-top: 15px;
    padding: 20px;
    position: relative;
    padding-bottom: 60%; /*regula a altura da div.video*/
}
div.video> iframe {
    position: absolute;
    top: 5%; /*regula a distância do iframe ao topo da div.video*/
    left: 5%; /*regula a distância do iframe da esquerda da div.video, considerando o padding da div*/
    width: 90%;
    height: 90%;

}
    
    

footer{
    background-color: rgb(9, 9, 9);
    height: 35px;
    text-align: center;
    color: white;

}
footer>p{
    padding: 10px;
    font-size: 0.8em;
}